.contacts-list {
  .list-none();
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  row-gap: 33px;
}

.contacts-list__title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 13px;
}

.contacts-list__link {
  font-family: "Open Sans Light";
  font-size: 24px;
  color: @red;
  text-decoration: none;
  font-weight: 400;
  word-wrap: break-word;
}
