.reviews {
  padding: 50px 0 31px 0;
}

.reviews__list {
  .list-none();
  margin-bottom: 12px;
}

.reviews__user {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

