.reviews {
  padding: 50px 0 31px 0;

  .tablet ({
    padding-top: 100px;
    padding-bottom: 10px;
  });
}

.reviews__list {
  .list-none();
  margin-bottom: 12px;

  .tablet ({
    margin-bottom: 0;
  });
}

