.switches-list {
  .list-none();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 19px;
}

.switches-list__button {
  width: 6px;
  height: 6px;
  margin: 0;
  padding: 0;
  background-color: fade(@black, 30%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
