.table-body__cell {
  padding: 19px 17px 19px 20px;
  background-color: @white;

  .tablet ({
    padding: 0;
    min-width: 152px;
    box-sizing: border-box;
  });
}

.table-body__title {
  display: none;

  .tablet ({
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 30px;
    min-width: 152px;
    padding: 8px 0 7px 15px;
    background-color: @white;
  });

  .desktop ({
    padding: 15px 0 14px 22px;
  });
}

.table-body__feature {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tablet ({
    justify-content: center;
  });

  &--pink {
    &::before {
      content: attr(data-feature-name);

      .tablet ({
        display: none
      });
    }
  }

  &--emoticons {
    &::before {
      content: attr(data-feature-name);

      .tablet ({
        display: none
      });
    }
  }

  &--comments {
    &::before {
      content: attr(data-feature-name);

      .tablet ({
        display: none
      });
    }
  }
}

.table-body__availability {
  &--yes {
    &::before {
      content: url("../img/icons/yes.svg");
      display: block;
      width: 31px;
      height: 21px;
    }
  }

  &--no {
    &::before {
      content: url("../img/icons/no.svg");
      display: block;
      width: 27px;
      height: 27px;
    }
  }
}
