.table-head__cell {
  position: relative;
  overflow: hidden;
  padding: 19px 95px 35px 95px;
  background-color: @black-light;

  .tablet ({
    padding: 19px 38px 16px 39px;
  });

  .desktop ({
    padding: 21px 38px 24px 39px;
  });

  &--hit {
    background: url("../img/icons/hit-ribbon.svg") no-repeat;
    background-color: @black-light;
    background-size: 88px auto;
    background-position: -10px 0px;

    .tablet ({
      background-size: 63px auto;
      background-position: -1px 0;
    });

    &::before {
      content: attr(data-hit-text);
      display: block;
      position: absolute;
      top: 21px;
      left: 14px;
      transform: rotate(-45deg);
      font-size: 14px;
      font-weight: 400;
      color: @white;
      text-transform: uppercase;

      .tablet ({
        top: 18px;
        left: 8px;
      });
    }
  }
}

.table-head__cell-hidden {
  display: none;

  .tablet ({
    display: block;
  });
};

.table-head__title {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: @white;
}

.table-head__price {
  font-family: "Open Sans Light";
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: @white;
}
